


    
    <h1>User#welcome_email</h1>
    
    <p>
      <%= @greeting %>, find me in app/views/user_mailer/welcome_email.html.erb
    </p>
    
    <div> 
    Bonjour,
    Nous avons le plaisir de vous informez que vous avez une nouvelle inscription. 
    Nom vient de s'inscrir dans votre établissement, et vous envoie ses fichiers d'inscription.
    Au plaisir, 
    
    </div>




