<!-- MOT DE PASSE OUBLIE -->
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-md-12 col-lg-10 col-xl-8">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Account</a></li>
          <li class="breadcrumb-item active" aria-current="page">Mot de passe oublié</li>
        </ol>
      </nav>
      <div class="page-header">
        <h1>Mot de passe oublié</h1>
      </div>
    </div>
  </div>
</div>
<div id="content">
  <div class="container">
    <div class="row justify-content-md-center align-items-center">
      <div class="col col-md-12 col-lg-10 col-xl-8">
        <ul class="nav nav-tabs tab-lg" role="tablist">
          <li role="presentation" class="nav-item"><a class="nav-link" href="/users/sign_in">Sign In</a></li>
          <li role="presentation" class="nav-item"><a class="nav-link active" href="register.html">Récupérer le mot de passe</a></li>
          <li role="presentation" class="nav-item"><a class="nav-link" href="/users/sign_up">Créer un compte</a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="login">
            <form>
               
               <div class="row login-row">
                  <div class="col">
                  	 <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Adresse e-mail", class: "form-control form-control-lg" %>
                  </div>
               </div>
               
               <div class="row">
                  <div class="col">
                     <button type="submit" class="btn btn-primary btn-lg">M'envoyer les instructions</button>
                  </div>
                  <div class="col">
                  </div>
               </div>
            </form>
          </div>
        </div>
        <div> </div>
      </div>
    </div>
  </div>
</div>

<% end %>