/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*
.search-bar-container {
	width: 100%;
	padding: 40px;
}

.logo {
	width: 165px;
    height: 36px;
    margin: 10px 10px 10px 0px;
}

.maxwdth {
	width: 100%;
	padding: 40px;
}

.blue {
	background-color: #15465e;
}

.bg-perso {
	background-color: #fad23a;
}

.no-border {
	border-bottom-style: none;
}

.connexion-btn {
	background-color: #15465e;
	color: #FFF;
}

.search-box-btn {
	color: #6c757d;
    background-color: #fad23a;
    background-image: none;
    border-left-color: #6c757d;
    border-top-color: #fad23a;
    border-right-color: #fad23a;
    border-bottom-color: #fad23a;
}

option {
	background-color: #ffeb9e;
}

h1 {
	color: #fad23a;
	font-weight: bold;
}

.navbar-new {
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0px 10px 10px;
    z-index: 10000000;
}

.login-container-home-bcgrnd {
	background-image: url(/img/smile.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 591px;
	background-position-y: -260px;
	margin-bottom: -16px;
}

.login-row {
	margin-bottom: 20px;
}

.back-nav {
	background-color: #fad23a;
}

.white-bcgrnd-log {
	background-color: #FFF;
	margin: 35px 0px 35px 0px;
}

.back-nav-log {
	background-color: transparent;
}

a {
	color: #15465e;
}

.maxwidth-btn {
	width: 100%;
}

body {
	padding-top: 60px;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form-log {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form-log input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form-log button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form-log button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form-log .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form-log .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form-log .register-form {
  display: none;
}

body {
  background: #76b852;
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
*/


.login-row {
  margin-bottom: 20px;
}

.bg-blue {
  background-color: #3a6c7b;
  color: #ffffff;
}

.header_logo {
  max-width: 150px;
  margin-bottom: 12px;
}