.etab-container {
    min-width: 400px;
    background-color: rgb(242, 238, 232);
    font-family: 'Indie Flower', cursive;
    height: auto

}


.etab-nav-right {
    min-width: 400px;
    max-width: 500px;
    background-color: azure;
    font-family: 'Indie Flower', cursive;
    height: auto;
}

.nom-etab {
    text-align: center;
    background-color: rgb(242, 238, 232);
    font-family: 'Indie Flower', cursive;
    height: 50px;
    border-radius: 5px;
    margin:10px 0px 10px 0px;  
}