<li class="nav-item dropdown user-account">
    <a class="nav-link dropdown-toggle" href="index.html#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-lock" aria-hidden="true"></i> Compte
    </a>
    <div class="dropdown-menu">
       <a href="/users/sign_in" class="dropdown-item">Seconnecter</a>
       <a href="/users/sign_up" class="dropdown-item">Créer un compte</a>
    </div>
</li>