<li class="nav-item dropdown user-account">
    <a class="nav-link dropdown-toggle" href="index.html#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= image_tag(current_user.image.thumb.url) %> Hi, <%= current_user.nom %>
    </a>
    <div class="dropdown-menu">
       <a href="/users/edit" class="dropdown-item">Editer mon compte</a>
       <%= link_to "Déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    </div>
</li>
